
body {
    
    background-image: url("https://images.unsplash.com/photo-1616627981431-ed306bb11ac0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
  }
  
  h1 {
    font-family: Copperplate, Papyrus, fantasy;
  }
  
