
body {
    
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
  }
  
  h1 {
    font-family: Copperplate, Papyrus, fantasy;
  }
  
